@page
@model AllNewsCms.Web.Pages.Companys.IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="tab-header d-flex align-items-center alert-info p-2">
    <strong>Company List </strong>
    <a asp-area="" asp-page="Create" class="btn btn-outline-info ml-auto">Create Company</a>
    

</div>
<hr />

<div class="row ">
    <div class="col">
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search">

        <table id="myTable">
            <tr class="header">
                <th scope="col">#</th>
                <th scope="col" class="d-none d-md-table-cell">@Html.DisplayNameFor(x => x.Companys[0].Image)</th>
                <th scope="col">@Html.DisplayNameFor(x => x.Companys[0].Title)</th>
                <th scope="col" class="d-none d-lg-table-cell">@Html.DisplayNameFor(x => x.Companys[0].CreatedDate)</th>
                <th scope="col">View</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            @if (Model.Companys != null)
            {
                var i = 0;
                @foreach (var companys in Model.Companys)
                {
                    ++i;
                    <tr>
                    <td scope="row">@i</td>
                    @if (companys.Image != null)
                    {
                        <td class="d-none d-md-table-cell"><img style="width:30px" src="@companys.Image" alt="Alternate Text" /></td>
                    }
                    @if (companys.ImageCoverPath != null)
                    {
                        <td class="d-none d-md-table-cell"><img style="width:30px" src="/Upload/Organisation/@companys.ImageCoverPath" alt="Alternate Text" /></td>
                    }
                    <td class="font-revo">@companys.Title</td>
                    <td class="d-none d-lg-table-cell">@companys.CreatedDate</td>
                    <td><a data-toggle="modal" data-target="#exampleModalCenter_@i" class="more-btn btn btn-light fas fa-eye"></a></td>
                    <td><a asp-area="" asp-page="./Create" asp-route-id="@companys.Id" class="more-btn btn btn-light fas fa-pen-alt"></a></td>
                    <td><a asp-area="" asp-page="./Delete" asp-route-id="@companys.Id" class="more-btn btn btn-light fas fa-trash-alt"></a></td>

                    <td>
                        <div class="modal fade" id="exampleModalCenter_@i" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dialog-centered rtl" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" style="text-align:center">

                                        <div class="form-view p-1">
                                            <h6 class="alert-primary">@Html.DisplayNameFor(x => x.Companys[0].Title)</h6>
                                            <span>@companys.Title</span>

                                        </div>
                                        @if (companys.Image != null)
                                        {
                                            <div class="form-view p-1">
                                                <h6 class="alert-primary">@Html.DisplayNameFor(x => x.Companys[0].Image)</h6>
                                                <img src="@companys.Image" alt="Alternate Text" />

                                            </div>
                                        }
                                        @if (companys.ImageCoverPath != null)
                                        {
                                            <div class="form-view p-1">
                                                <h6 class="alert-primary">@Html.DisplayNameFor(x => x.Companys[0].Image)</h6>
                                                <img src="/Upload/Organisation/@companys.ImageCoverPath" alt="Alternate Text" />

                                            </div>
                                        }
                                        <div class="form-view p-1">
                                            <h6 class="alert-primary">@Html.DisplayNameFor(x => x.Companys[0].Information)</h6>
                                            <div class="modal-desc">
                                                <pre>@companys.Information</pre>
                                            </div>

                                        </div>

                                        <div class="form-view p-1 d-flex">
                                            <div class="form-view p-1 w-50">
                                                <h6 class="alert-primary">@Html.DisplayNameFor(x => x.Companys[0].CreatedDate)</h6>
                                                <span>@companys.CreatedDate</span>

                                            </div>
                                            <div class="form-view p-1 w-50">
                                                <h6 class="alert-primary">@Html.DisplayNameFor(x => x.Companys[0].CreatedUser)</h6>
                                                <span>@companys.CreatedUser?.UserName</span>

                                            </div>
                                        </div>
                                        <div class="form-view p-1 d-flex">
                                            <div class="form-view p-1 w-50">
                                                <h6 class="alert-primary">@Html.DisplayNameFor(x => x.Companys[0].UpdatedDate)</h6>
                                                <span>@companys.UpdatedDate</span>

                                            </div>
                                            <div class="form-view p-1 w-50">
                                                <h6 class="alert-primary">@Html.DisplayNameFor(x => x.Companys[0].UpdatedUser)</h6>
                                                <span>@companys.UpdatedUser?.UserName</span>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </td>
                    </tr>
                }
            }


        </table>

    </div>
</div>


