@using Microsoft.AspNetCore.Mvc.Localization;
@using System.Globalization;
@inject IViewLocalizer Localizer
@model AllNews.Domain.Audio
<br />
<div class="row">
    <div class="col">
        <div class="date-box d-flex align-items-baseline justify-content-start">
            <span class="fas fa-calendar-alt text-dark m-1"></span>
            <span class="datetime-now mr-1 ml-1">@Model.UpdatedDate</span>
 
                   
            <div class="dropdown" id="share">
                <button class="share-btn btn btn-light mr-1 ml-1 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="fas fa-share-alt m-1"></span>
                </button>
                <div class="dropdown-menu share-colaps dropdown-menu-center" aria-labelledby="dropdownMenuButton">
                    <div class="d-flex">
                        <a class="dropdown-item" href="whatsapp://send?text=@Model.Title-@ViewBag.ShareURL/Audios/AudioPart/@Model.Id" data-action="share/whatsapp/share"><span class="fab fa-whatsapp text-success"></span></a>
                        <a class="dropdown-item" href="https://telegram.me/share/url?url=@Model.Title-@ViewBag.ShareURL/Audios/AudioPart/@Model.Id"><span class="fab fa-telegram text-info"></span></a>
                        <a class="dropdown-item" href="mailto:?=&subject=@Model.Title&body=@ViewBag.ShareURL/Audios/AudioPart/@Model.Id"><span class="fas fa-envelope text-secondary"></span></a>
                        <a class="dropdown-item" href="https://www.facebook.com/sharer/sharer.php?u=@Model.Title-@ViewBag.ShareURL/Audios/AudioPart/@Model.Id"><span class="fab fa-facebook text-primary"></span></a>
                        <a class="dropdown-item" href="https://twitter.com/intent/tweet?text=@Model.Title-@ViewBag.ShareURL/Audios/AudioPart/@Model.Id"><span class="fab fa-twitter text-info"></span></a>
                    </div>
                </div>

            </div>
            

        </div>

    </div>
</div>
<hr class="m-0" />
<div class="row">
    <div class="col">
        <div class="news-header">

            <h5>@Model.Title</h5>

        </div>
    </div>
</div>
<br />
@if (Model.Image != null || Model.ImageCoverPath != null)
{
    @if (Model.Image != null)
    {
        <div class="row">
            <div class="col-6 col-md-2">
                <img class="w-100" src="@Model.Image" alt="Alternate Text" style="max-height:350px;" />
            </div>
        </div>
    }
    @if (Model.ImageCoverPath != null)
    {
        <div class="row">
            <div class="col-6 col-md-2">
                <img class="w-100" src="@ViewBag.AdminURL/Upload/Audios/Images/@Model.ImageCoverPath" alt="Alternate Text" style="max-height:350px;" />
            </div>
        </div>
    }
}
<br />
<div class="row">

    <div class="col">

        <div class="news-desc">

            <pre>@Model.Description</pre>

        </div>

    </div>

</div>
<hr />
@if (Model.AudioCoverPath != null)
{
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="news-audio">
                <audio class="w-100" controls="controls">
                    <source src="@ViewBag.AdminURL/Upload/Audios/Voices/@Model.AudioCoverPath" type="audio/mp3" />
                </audio>
            </div>
        </div>
    </div>
}
<hr />
<br />