@page
@model AllNewsCms.Web.Pages.Audios.IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="tab-header d-flex align-items-center alert-info p-2">
    <strong>Audio List</strong>

    <a asp-area="" asp-page="Create" class="btn btn-outline-info ml-auto">Create Audio</a>


</div>

<div class="paginait-count d-flex align-items-center justify-content-start">
    <strong class="mr-1">Page</strong><strong>@(Model.CurrentPage)</strong>
</div>

<div class="row">
    <div class="col">
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search">

        <table id="myTable">
            <tr class="header">
                <th scope="col">#</th>
                <th scope="col">@Html.DisplayNameFor(x => x.Audios[0].Title)</th>
                <th scope="col" class="d-none d-md-table-cell">@Html.DisplayNameFor(x => x.Audios[0].CreatedDate)</th>
                <th scope="col">View</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            @if (Model.Audios != null)
            {
                var i = 0;
                @foreach (var audios in Model.Audios)
                {
                    ++i;
                    <tr>
                        <td scope="row">@i</td>
                        <td class="font-revo">@audios.Title</td>
                        <td class="d-none d-md-table-cell">@audios.CreatedDate</td>
                        <td><a data-toggle="modal" data-target="#exampleModalCenter_@i" class="more-btn btn btn-light fas fa-eye"></a></td>
                        <td><a asp-area="" asp-page="./Create" asp-route-id="@audios.Id" class="more-btn btn btn-light fas fa-pen-alt"></a></td>
                        <td><a asp-area="" asp-page="./Delete" asp-route-id="@audios.Id" class="more-btn btn btn-light fas fa-trash-alt"></a></td>

                        <td>
                            <div class="modal fade" id="exampleModalCenter_@i" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-dialog-centered rtl" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" style="text-align:center">

                                            <div class="form-view p-1">
                                                <h6 class="alert-primary">@Html.DisplayNameFor(x => x.Audios[0].Title)</h6>
                                                <span>@audios.Title</span>

                                            </div>
                                            @if (audios.AudioCoverPath != null)
                                            {
                                                <div class="form-view p-1">
                                                    <h6 class="alert-primary">@Html.DisplayNameFor(x => x.Audios[0].AudioCoverPath)</h6>
                                                    <audio class="w-100" controls="controls">
                                                        <source src="~/Upload/Audios/Voices/@audios.AudioCoverPath" type="audio/mp3" />
                                                    </audio>
                                                </div>
                                            }
                                            @if (audios.Description != null)
                                            {
                                                <div class="form-view p-1">
                                                    <h6 class="alert-primary">@Html.DisplayNameFor(x => x.Audios[0].Description)</h6>
                                                    <span>@audios.Description</span>

                                                </div>
                                            }
                                            @if (audios.Image != null)
                                            {
                                                <div class="form-view p-1">
                                                    <h6 class="alert-primary">@Html.DisplayNameFor(x => x.Audios[0].Image)</h6>
                                                    <img src="@audios.Image" alt="Alternate Text" />

                                                </div>
                                            }
                                            @if (audios.ImageCoverPath != null)
                                            {
                                                <div class="form-view p-1">
                                                    <h6 class="alert-primary">@Html.DisplayNameFor(x => x.Audios[0].ImageCoverPath)</h6>
                                                    <img src="~/Upload/Audios/Images/@audios.ImageCoverPath" alt="Alternate Text" />

                                                </div>
                                            }
                                            <div class="form-view p-1 d-flex">
                                                <div class="form-view p-1 w-50">
                                                    <h6 class="alert-primary">@Html.DisplayNameFor(x => x.Audios[0].CreatedDate)</h6>
                                                    <span>@audios.CreatedDate</span>

                                                </div>
                                                <div class="form-view p-1 w-50">
                                                    <h6 class="alert-primary">@Html.DisplayNameFor(x => x.Audios[0].CreatedUser)</h6>
                                                    <span>@audios.CreatedUser?.UserName</span>

                                                </div>
                                            </div>
                                            <div class="form-view p-1 d-flex">
                                                <div class="form-view p-1 w-50">
                                                    <h6 class="alert-primary">@Html.DisplayNameFor(x => x.Audios[0].UpdatedDate)</h6>
                                                    <span>@audios.UpdatedDate</span>

                                                </div>
                                                <div class="form-view p-1 w-50">
                                                    <h6 class="alert-primary">@Html.DisplayNameFor(x => x.Audios[0].UpdatedUser)</h6>
                                                    <span>@audios.UpdatedUser?.UserName</span>

                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            }


        </table>

    </div>
</div>
<hr />
<div class="row">
    <div class="col">

        <nav aria-label="Page navigation example">
            <ul class="pagination pagination-sm justify-content-center">
                <li class="page-item @(Model.CurrentPage==1?"disabled":"")">
                    <a class="page-link" href="/Audios/Index?currentpage=@(Model.CurrentPage-1)">Previous</a>
                </li>

                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item @(i==Model.CurrentPage?"active":"")">
                        <a class="page-link" href="/Audios/Index?currentpage=@i">@i</a>
                    </li>
                }

                <li class="page-item @(Model.CurrentPage==Model.TotalPages?"disabled":"")">
                    <a class="page-link" href="/Audios/Index?currentpage=@(Model.CurrentPage+1)">Next</a>
                </li>
            </ul>
        </nav>

    </div>
</div>
