@using AllNews.ViewModel
@using Microsoft.AspNetCore.Mvc.Localization;
@using System.Globalization;
@inject IViewLocalizer Localizer
@model AllNews.ViewModel.HomeViewModel

@{
    ViewData["Title"] = "Home";
}

@* Start Last News Section *@

<div class="row">
    <div class="col">
        <div class="top-title-line mt-1">
            <h5 class="d-none d-md-block">@Localizer["LatestNews"]</h5>
            <span class="d-md-none">@Localizer["LatestNews"]</span>
        </div>
        <div class="top-box-hot-line"></div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-12 col-md-12 col-lg-6 mt-2 p-0 p-md-1">
        <a class="main-news-img-box" asp-action="Index" asp-controller="NewsPage" asp-route-id="@Model?.Last10ArabicNews.FirstOrDefault()?.Id">
            @if (Model?.Last10ArabicNews.FirstOrDefault()?.ImageCoverPath != null || Model?.Last10ArabicNews.FirstOrDefault()?.FirstImage != null)
            {
                @if (Model.Last10ArabicNews.FirstOrDefault()?.ImageCoverPath != null)
                {
                    <img src="@ViewBag.AdminURL/Upload/News/Images/@Model.Last10ArabicNews.FirstOrDefault()?.ImageCoverPath" alt="Alternate Text" />
                }
                @if (Model.Last10ArabicNews.FirstOrDefault()?.FirstImage != null)
                {
                    <img src="@Model.Last10ArabicNews.FirstOrDefault()?.FirstImage" alt="Alternate Text" />
                }

            }
            else
            {
                @if (Model.Last10WorldNews.FirstOrDefault()?.Video != null)
                {
                    <img src="https://img.youtube.com/vi/@Model.Last10ArabicNews.FirstOrDefault()?.Video/mqdefault.jpg" alt="Alternate Text" />
                }
                @if (Model.Last10ArabicNews.FirstOrDefault()?.VideoCoverPath != null)
                {
                    <img src="@ViewBag.AdminURL/Upload/News/VideoImg/@Model.Last10ArabicNews.FirstOrDefault()?.VideoImg" alt="Alternate Text" />
                }
            }

            @if (Model?.Last10ArabicNews.FirstOrDefault()?.Video != null || Model?.Last10ArabicNews.FirstOrDefault()?.VideoCoverPath != null)
            {
                <span class="video-avatar fab fa-youtube text-white"></span>
            }
            else
            {

            }

            <div class="over-black"></div>

            <strong class="main-news-title">@Model.Last10ArabicNews.FirstOrDefault()?.Title</strong>
            @if (CultureInfo.CurrentCulture.Name == "fa-IR" || CultureInfo.CurrentCulture.Name == "ar-SA")
            {
                <div class="main-news-top">
                    @if (Model.Last10ArabicNews.FirstOrDefault()?.HotCheack == true)
                    {
                        <p class="main-news-special">@Localizer["Special"]</p>
                    }

                    <p class="main-news-category">@Model.Last10ArabicNews.FirstOrDefault()?.Category.CategoryName</p>
                </div>
            }
            else
            {
                <div class="main-news-top-ltr">
                    @if (Model.Last10ArabicNews.FirstOrDefault()?.HotCheack == true)
                    {
                        <p class="main-news-special">@Localizer["Special"]</p>
                    }

                    <p class="main-news-category">@Model.Last10ArabicNews.FirstOrDefault()?.Category.CategoryName</p>
                </div>
            }

        </a>
    </div>
    <div class="col-12 col-md-6 col-lg-3 mt-2 p-0 p-md-1">
        <a class="main-news-img-box-lite" asp-action="Index" asp-controller="NewsPage" asp-route-id="@Model?.Last10WorldNews.FirstOrDefault()?.Id">
            @if (Model?.Last10WorldNews.FirstOrDefault()?.ImageCoverPath != null || Model?.Last10WorldNews.FirstOrDefault()?.FirstImage != null)
            {
                @if (Model.Last10WorldNews.FirstOrDefault()?.ImageCoverPath != null)
                {
                    <img src="@ViewBag.AdminURL/Upload/News/Images/@Model.Last10WorldNews.FirstOrDefault()?.ImageCoverPath" alt="Alternate Text" />
                }
                @if (Model.Last10WorldNews.FirstOrDefault()?.FirstImage != null)
                {
                    <img src="@Model.Last10WorldNews.FirstOrDefault()?.FirstImage" alt="Alternate Text" />
                }

            }
            else
            {
                @if (Model.Last10WorldNews.FirstOrDefault()?.Video != null)
                {
                    <img src="https://img.youtube.com/vi/@Model.Last10WorldNews.FirstOrDefault()?.Video/mqdefault.jpg" alt="Alternate Text" />
                }
                @if (Model.Last10WorldNews.FirstOrDefault()?.VideoCoverPath != null)
                {
                    <img src="@ViewBag.AdminURL/Upload/News/VideoImg/@Model.Last10WorldNews.FirstOrDefault()?.VideoImg" alt="Alternate Text" />
                }
            }

            @if (Model?.Last10WorldNews.FirstOrDefault()?.Video != null || Model?.Last10WorldNews.FirstOrDefault()?.VideoCoverPath != null)
            {
                <span class="video-avatar fab fa-youtube text-white"></span>
            }
            else
            {

            }
            <div class="over-black"></div>
            <strong class="main-news-title">@Model.Last10WorldNews.FirstOrDefault()?.Title</strong>
            @if (CultureInfo.CurrentCulture.Name == "fa-IR" || CultureInfo.CurrentCulture.Name == "ar-SA")
            {
                <div class="main-news-top">
                    @if (Model.Last10WorldNews.FirstOrDefault()?.HotCheack == true)
                    {
                        <p class="main-news-special">@Localizer["Special"]</p>
                    }

                    <p class="main-news-category">@Model.Last10WorldNews.FirstOrDefault()?.Category.CategoryName</p>
                </div>
            }
            else
            {
                <div class="main-news-top-ltr">
                    @if (Model.Last10WorldNews.FirstOrDefault()?.HotCheack == true)
                    {
                        <p class="main-news-special">@Localizer["Special"]</p>
                    }

                    <p class="main-news-category">@Model.Last10WorldNews.FirstOrDefault()?.Category.CategoryName</p>
                </div>
            }
        </a>
    </div>
    <div class="col-12 col-md-6 col-lg-3 mt-2 p-0 p-md-1">
        <a class="main-news-img-box-lite" asp-action="Index" asp-controller="NewsPage" asp-route-id="@Model?.Last2SportsNews.FirstOrDefault()?.Id">
            @if (Model?.Last2SportsNews.FirstOrDefault()?.ImageCoverPath != null || Model?.Last2SportsNews.FirstOrDefault()?.FirstImage != null)
            {
                @if (Model.Last2SportsNews.FirstOrDefault()?.ImageCoverPath != null)
                {
                    <img src="@ViewBag.AdminURL/Upload/News/Images/@Model.Last2SportsNews.FirstOrDefault()?.ImageCoverPath" alt="Alternate Text" />
                }
                @if (Model.Last2SportsNews.FirstOrDefault()?.FirstImage != null)
                {
                    <img src="@Model.Last2SportsNews.FirstOrDefault()?.FirstImage" alt="Alternate Text" />
                }

            }
            else
            {
                @if (Model.Last2SportsNews.FirstOrDefault()?.Video != null)
                {
                    <img src="https://img.youtube.com/vi/@Model.Last2SportsNews.FirstOrDefault()?.Video/mqdefault.jpg" alt="Alternate Text" />
                }
                @if (Model.Last2SportsNews.FirstOrDefault()?.VideoCoverPath != null)
                {
                    <img src="@ViewBag.AdminURL/Upload/News/VideoImg/@Model.Last2SportsNews.FirstOrDefault()?.VideoImg" alt="Alternate Text" />
                }
            }

            @if (Model?.Last2SportsNews.FirstOrDefault()?.Video != null || Model?.Last2SportsNews.FirstOrDefault()?.VideoCoverPath != null)
            {
                <span class="video-avatar fab fa-youtube text-white"></span>
            }
            else
            {

            }


            <div class="over-black"></div>
            <strong class="main-news-title">@Model.Last2SportsNews.FirstOrDefault()?.Title</strong>

            @if (CultureInfo.CurrentCulture.Name == "fa-IR" || CultureInfo.CurrentCulture.Name == "ar-SA")
            {
                <div class="main-news-top">
                    @if (Model.Last2SportsNews.FirstOrDefault()?.HotCheack == true)
                    {
                        <p class="main-news-special">@Localizer["Special"]</p>
                    }

                    <p class="main-news-category">@Model.Last2SportsNews.FirstOrDefault()?.Category.CategoryName</p>
                </div>
            }
            else
            {
                <div class="main-news-top-ltr">
                    @if (Model.Last2SportsNews.FirstOrDefault()?.HotCheack == true)
                    {
                        <p class="main-news-special">@Localizer["Special"]</p>
                    }

                    <p class="main-news-category">@Model.Last2SportsNews.FirstOrDefault()?.Category.CategoryName</p>
                </div>
            }

        </a>
    </div>

</div>

<div class="row">
    <div class="col p-0 p-md-1 mt-2 mt-md-0">
        <div class="hot-news-carousel owl-carousel owl-theme">

            @foreach (var item in Model?.Last10News)
            {
                <div class="item">
                    <a class="card-carusel" asp-controller="NewsPage" asp-action="Index" asp-route-id="@item.Id">
                        <div class="main-news-img-box-carusel">

                            @if (item.ImageCoverPath != null || item.FirstImage != null)
                            {
                                @if (item.ImageCoverPath != null)
                                {
                                    <img src="@ViewBag.AdminURL/Upload/News/Images/@item.ImageCoverPath" alt="Alternate Text" />
                                }
                                @if (item.FirstImage != null)
                                {
                                    <img src="@item.FirstImage" alt="Alternate Text" />
                                }

                            }
                            else
                            {
                                @if (item.Video != null)
                                {
                                    <img src="https://img.youtube.com/vi/@item.Video/mqdefault.jpg" alt="Alternate Text" />
                                }
                                @if (item.VideoCoverPath != null)
                                {
                                    <img src="@ViewBag.AdminURL/Upload/News/VideoImg/@item.VideoImg" alt="Alternate Text" />
                                }
                            }

                            @if (item.Video != null || item.VideoCoverPath != null)
                            {
                                <span class="video-avatar fab fa-youtube text-white"></span>
                            }
                            else
                            {

                            }

                            <div class="over-black"></div>

                            <strong class="main-news-title">@item.Title</strong>

                            @if (CultureInfo.CurrentCulture.Name == "fa-IR" || CultureInfo.CurrentCulture.Name == "ar-SA")
                            {
                                <div class="main-news-top">

                                    <p class="main-news-category">@item.Category.CategoryName</p>
                                </div>
                            }
                            else
                            {
                                <div class="main-news-top-ltr">

                                    <p class="main-news-category">@item.Category.CategoryName</p>
                                </div>
                            }

                        </div>

                    </a>
                </div>
            }



        </div>
    </div>

</div>

<div class="row">
    <div class="col p-2">
        <a asp-action="Index" asp-controller="LastNews" class="show-all-btn d-flex align-items-baseline justify-content-end">
            <span class="fas fa-ellipsis-h m-1"></span>
            @Localizer["More"]
        </a>
    </div>
</div>



@* End Last News Section *@

@* Start All NEws Section *@

<br />
<div class="row">
    <div class="col">
        <div class="top-title-line">
            <h5 class="d-none d-md-block">@Localizer["WorldNews"]</h5>
            <span class="d-md-none">@Localizer["WorldNews"]</span>
        </div>
        <div class="top-box-hot-line"></div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-12 col-md-6 p-0 p-md-1">
        <a class="box-image" asp-controller="NewsPage" asp-action="Index" asp-route-id="@Model?.Last4WorldNews.FirstOrDefault()?.Id">
            <div class="first-main-box">
                @if (Model?.Last4WorldNews.FirstOrDefault()?.FirstImage != null || Model?.Last4WorldNews.FirstOrDefault()?.ImageCoverPath != null)
                {
                    @if (Model?.Last4WorldNews.FirstOrDefault()?.FirstImage != null)
                    {
                        <img src="@Model?.Last4WorldNews.FirstOrDefault()?.FirstImage" alt="Alternate Text" />
                    }
                    @if (Model?.Last4WorldNews.FirstOrDefault()?.ImageCoverPath != null)
                    {
                        <img src="@ViewBag.AdminURL/Upload/News/Images/@Model?.Last4WorldNews.FirstOrDefault()?.ImageCoverPath" alt="Alternate Text" />
                    }
                }
                else
                {
                    @if (Model?.Last4WorldNews.FirstOrDefault()?.Video != null)
                    {
                        <img src="https://img.youtube.com/vi/@Model?.Last4WorldNews.FirstOrDefault().Video/mqdefault.jpg" alt="Alternate Text" />
                    }
                    @if (Model?.Last4WorldNews.FirstOrDefault()?.VideoCoverPath != null)
                    {
                        <img src="@ViewBag.AdminURL/Upload/News/VideoImg/@Model?.Last4WorldNews.FirstOrDefault()?.VideoImg" alt="Alternate Text" />
                    }
                }

                @if (Model?.Last4WorldNews.FirstOrDefault()?.Video != null || Model?.Last4WorldNews.FirstOrDefault()?.VideoCoverPath != null)
                {
                    <span class="video-avatar fab fa-youtube text-white"></span>
                }
                else
                {

                }
                <strong class="first-main-title">@Model.Last10WorldNews.FirstOrDefault()?.Title</strong>
                @if (CultureInfo.CurrentCulture.Name == "fa-IR" || CultureInfo.CurrentCulture.Name == "ar-SA")
                {
                    <div class="main-news-top">
                        @if (Model.Last10WorldNews.FirstOrDefault()?.HotCheack == true)
                        {
                            <p class="main-news-special">@Localizer["Special"]</p>
                        }


                    </div>
                }
                else
                {
                    <div class="main-news-top-ltr">
                        @if (Model.Last10WorldNews.FirstOrDefault()?.HotCheack == true)
                        {
                            <p class="main-news-special">@Localizer["Special"]</p>
                        }


                    </div>
                }
            </div>

        </a>
        <div class="world-news-list d-none d-md-block">
            <div class="world-news-list-box">
                @foreach (var item in Model.Last10WorldNews)
                {

                    <a class="world-news-list-items" asp-controller="NewsPage" asp-action="Index" asp-route-id="@item.Id"><span class="fas fa-square-full mr-1 ml-1"></span>@item.Title</a>

                }
            </div>

        </div>
    </div>


    <div class="col-12 col-md-6">
        <div class="row">
            @foreach (var item in Model.Last4WorldNews)
            {
                <div class="col-6 col-md-6 p-0 p-md-1 mb-md-2">
                    <a asp-controller="NewsPage" asp-action="Index" asp-route-id="@item.Id" class="politic-card">
                        <div class="img-card-box">
                            @if (item.FirstImage != null || item.ImageCoverPath != null)
                            {
                                @if (item.FirstImage != null)
                                {
                                    <img src="@item.FirstImage" alt="Alternate Text" />
                                }
                                @if (item.ImageCoverPath != null)
                                {
                                    <img src="@ViewBag.AdminURL/Upload/News/Images/@item.ImageCoverPath" alt="Alternate Text" />
                                }
                            }
                            else
                            {
                                @if (item.Video != null)
                                {
                                    <img src="https://img.youtube.com/vi/@item.Video/mqdefault.jpg" alt="Alternate Text" />
                                }
                                @if (item.VideoCoverPath != null)
                                {
                                    <img src="@ViewBag.AdminURL/Upload/News/VideoImg/@item.VideoImg" alt="Alternate Text" />
                                }
                            }

                            @if (item.Video != null || item.VideoCoverPath != null)
                            {
                                <span class="video-avatar fab fa-youtube text-white"></span>
                            }
                            else
                            {

                            }

                        </div>
                        <div class="news-card-text-box">

                            <h6 class="card-text-news">
                                @item.Title
                            </h6>
                        </div>
                        <div class="date-box d-flex align-items-center justify-content-start">
                            <span class="fas fa-calendar-alt"></span>
                            <span class="datetime-now">@item.UpdatedDate</span>
                        </div>
                    </a>

                </div>

            }
        </div>

    </div>

</div>




<div class="row">
    <div class="col p-2">
        <a asp-action="Index" asp-controller="WorldNews" class="show-all-btn-poli d-flex align-items-baseline justify-content-end">
            <span class="fas fa-ellipsis-h m-1"></span>
            @Localizer["More"]
        </a>
    </div>
</div>


@* End All NEws Section *@

@* Start AlArabia NEws Section *@


<br />
<div class="row">
    <div class="col">
        <div class="top-title-line">
            <h5 class="d-none d-md-block">@Localizer["ArabNews"]</h5>
            <span class="d-md-none">@Localizer["ArabNews"]</span>
        </div>
        <div class="top-box-hot-line"></div>
    </div>
</div>
<br />

<div class="row">
    <div class="col-12 col-md-6 p-0 p-md-1">
        <a class="box-image" asp-controller="NewsPage" asp-action="Index" asp-route-id="@Model?.Last4ArabicNews.FirstOrDefault()?.Id">
            <div class="first-main-box">
                @if (Model?.Last4ArabicNews.FirstOrDefault()?.FirstImage != null || Model?.Last4ArabicNews.FirstOrDefault()?.ImageCoverPath != null)
                {
                    @if (Model?.Last4ArabicNews.FirstOrDefault()?.FirstImage != null)
                    {
                        <img src="@Model?.Last4ArabicNews.FirstOrDefault()?.FirstImage" alt="Alternate Text" />
                    }
                    @if (Model?.Last4ArabicNews.FirstOrDefault()?.ImageCoverPath != null)
                    {
                        <img src="@ViewBag.AdminURL/Upload/News/Images/@Model?.Last4ArabicNews.FirstOrDefault()?.ImageCoverPath" alt="Alternate Text" />
                    }
                }
                else
                {
                    @if (Model?.Last4ArabicNews.FirstOrDefault()?.Video != null)
                    {
                        <img src="https://img.youtube.com/vi/@Model?.Last4WorldNews.FirstOrDefault().Video/mqdefault.jpg" alt="Alternate Text" />
                    }
                    @if (Model?.Last4ArabicNews.FirstOrDefault()?.VideoCoverPath != null)
                    {
                        <img src="@ViewBag.AdminURL/Upload/News/VideoImg/@Model?.Last4ArabicNews.FirstOrDefault()?.VideoImg" alt="Alternate Text" />
                    }
                }

                @if (Model?.Last4ArabicNews.FirstOrDefault()?.Video != null || Model?.Last4ArabicNews.FirstOrDefault()?.VideoCoverPath != null)
                {
                    <span class="video-avatar fab fa-youtube text-white"></span>
                }
                else
                {

                }
                <strong class="first-main-title">@Model.Last4ArabicNews.FirstOrDefault()?.Title</strong>
                @if (CultureInfo.CurrentCulture.Name == "fa-IR" || CultureInfo.CurrentCulture.Name == "ar-SA")
                {
                    <div class="main-news-top">
                        @if (Model.Last4ArabicNews.FirstOrDefault()?.HotCheack == true)
                        {
                            <p class="main-news-special">@Localizer["Special"]</p>
                        }


                    </div>
                }
                else
                {
                    <div class="main-news-top-ltr">
                        @if (Model.Last4ArabicNews.FirstOrDefault()?.HotCheack == true)
                        {
                            <p class="main-news-special">@Localizer["Special"]</p>
                        }


                    </div>
                }
            </div>

        </a>
        <div class="world-news-list d-none d-md-block">
            <div class="world-news-list-box">
                @foreach (var item in Model.Last4ArabicNews)
                {

                    <a class="world-news-list-items" asp-controller="NewsPage" asp-action="Index" asp-route-id="@item.Id"><span class="fas fa-square-full mr-1 ml-1"></span>@item.Title</a>

                }
            </div>

        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="row">

            @foreach (var item in Model.Last4ArabicNews)
            {
                <div class="col-6 col-md-6 p-0 p-md-1 mb-md-2">
                    <a asp-controller="NewsPage" asp-action="Index" asp-route-id="@item.Id" class="politic-card">
                        <div class="img-card-box">
                            @if (item.FirstImage != null || item.ImageCoverPath != null)
                            {
                                @if (item.FirstImage != null)
                                {
                                    <img src="@item.FirstImage" alt="Alternate Text" />
                                }
                                @if (item.ImageCoverPath != null)
                                {
                                    <img src="@ViewBag.AdminURL/Upload/News/Images/@item.ImageCoverPath" alt="Alternate Text" />
                                }
                            }
                            else
                            {
                                @if (item.Video != null)
                                {
                                    <img src="https://img.youtube.com/vi/@item.Video/mqdefault.jpg" alt="Alternate Text" />
                                }
                                @if (item.VideoCoverPath != null)
                                {
                                    <img src="@ViewBag.AdminURL/Upload/News/VideoImg/@item.VideoImg" alt="Alternate Text" />
                                }
                            }

                            @if (item.Video != null || item.VideoCoverPath != null)
                            {
                                <span class="video-avatar fab fa-youtube text-white"></span>
                            }
                            else
                            {

                            }

                        </div>
                        <div class="news-card-text-box">

                            <h6 class="card-text-news">
                                @item.Title
                            </h6>
                        </div>
                        <div class="date-box d-flex align-items-center justify-content-start">
                            <span class="fas fa-calendar-alt"></span>
                            <span class="datetime-now">@item.UpdatedDate</span>
                        </div>
                    </a>

                </div>

            }

        </div>

    </div>


</div>



<div class="row">
    <div class="col p-2">
        <a asp-action="Index" asp-controller="AlArabia" class="show-all-btn-our-news d-flex align-items-baseline justify-content-end">
            <span class="fas fa-ellipsis-h m-1"></span>
            @Localizer["More"]
        </a>
    </div>
</div>


@* End AlArabia NEws Section *@
@* Start sports section *@

<br />
<div class="row">
    <div class="col">
        <div class="top-title-line">
            <h5 class="d-none d-md-block">@Localizer["SportsNews"]</h5>
            <span class="d-md-none">@Localizer["SportsNews"]</span>
        </div>
        <div class="top-box-hot-line"></div>
    </div>
</div>
<br />

<div class="row">
    <div class="col p-0">
        <div class="sports-bg">
            @foreach (var item in Model.Last2SportsNews)
            {
                <div class="row">
                    <div class="col d-none d-md-block ">

                        <a asp-controller="NewsPage" asp-action="Index" asp-route-id="@item.Id" class="with-card">

                            <div class="img-with-card  d-flex align-items-center justify-content-start">
                                <div class="image-box">
                                    @if (item.FirstImage != null || item.ImageCoverPath != null)
                                    {
                                        @if (item.FirstImage != null)
                                        {
                                            <img src="@item.FirstImage" alt="Alternate Text" />
                                        }
                                        @if (item.ImageCoverPath != null)
                                        {
                                            <img src="@ViewBag.AdminURL/Upload/News/Images/@item.ImageCoverPath" alt="Alternate Text" />
                                        }
                                    }
                                    else
                                    {
                                        @if (item.Video != null)
                                        {
                                            <img src="https://img.youtube.com/vi/@item.Video/mqdefault.jpg" alt="Alternate Text" />
                                        }
                                        @if (item.VideoCoverPath != null)
                                        {
                                            <img src="@ViewBag.AdminURL/Upload/News/VideoImg/@item.VideoImg" alt="Alternate Text" />
                                        }
                                    }

                                    @if (item.Video != null || item.VideoCoverPath != null)
                                    {
                                        <span class="video-avatar fab fa-youtube text-white"></span>
                                    }
                                    else
                                    {

                                    }
                                    @if (CultureInfo.CurrentCulture.Name == "fa-IR" || CultureInfo.CurrentCulture.Name == "ar-SA")
                                    {
                                        <div class="main-news-top">
                                            @if (item.HotCheack == true)
                                            {
                                                <p class="main-news-special">@Localizer["Special"]</p>
                                            }


                                        </div>
                                    }
                                    else
                                    {
                                        <div class="main-news-top-ltr">
                                            @if (item.HotCheack == true)
                                            {
                                                <p class="main-news-special">@Localizer["Special"]</p>
                                            }


                                        </div>
                                    }
                                </div>
                                <div class="mr-3 ml-2" style="line-height:3">
                                    <div class="img-with-card-desc ">
                                        <b>@Localizer["SportsNews"]</b>
                                        <br />
                                        <div class="line-animat"></div>

                                        <h5>
                                            @item.Title

                                        </h5>

                                    </div>

                                    <div class="date-box d-flex align-items-baseline justify-content-start">
                                        <span class="fas fa-calendar-alt text-dark m-1"></span>
                                        <span class="datetime-now">@item.UpdatedDate</span>
                                    </div>
                                </div>

                            </div>


                        </a>

                    </div>
                    <div class="col d-md-none p-0">

                        <a asp-controller="NewsPage" asp-action="Index" asp-route-id="@item.Id" class="with-card">

                            <div class="img-with-card">
                                <div class="image-box">
                                    @if (item.FirstImage != null || item.ImageCoverPath != null)
                                    {
                                        @if (item.FirstImage != null)
                                        {
                                            <img src="@item.FirstImage" alt="Alternate Text" />
                                        }
                                        @if (item.ImageCoverPath != null)
                                        {
                                            <img src="@ViewBag.AdminURL/Upload/News/Images/@item.ImageCoverPath" alt="Alternate Text" />
                                        }
                                    }
                                    else
                                    {
                                        @if (item.Video != null)
                                        {
                                            <img src="https://img.youtube.com/vi/@item.Video/mqdefault.jpg" alt="Alternate Text" />
                                        }
                                        @if (item.VideoCoverPath != null)
                                        {
                                            <img src="@ViewBag.AdminURL/Upload/News/VideoImg/@item.VideoImg" alt="Alternate Text" />
                                        }
                                    }
                                    @if (item.Video != null || item.VideoCoverPath != null)
                                    {
                                        <span class="video-avatar fab fa-youtube text-white"></span>
                                    }
                                    @if (CultureInfo.CurrentCulture.Name == "fa-IR" || CultureInfo.CurrentCulture.Name == "ar-SA")
                                    {
                                        <div class="main-news-top">
                                            @if (item.HotCheack == true)
                                            {
                                                <p class="main-news-special">@Localizer["Special"]</p>
                                            }


                                        </div>
                                    }
                                    else
                                    {
                                        <div class="main-news-top-ltr">
                                            @if (item.HotCheack == true)
                                            {
                                                <p class="main-news-special">@Localizer["Special"]</p>
                                            }


                                        </div>
                                    }
                                </div>
                                <div class="img-with-card-descres" style="line-height:3">

                                    <b>@item.Category.CategoryName</b>

                                    <div class="line-animat"></div>

                                    <p>@item.Title</p>

                                </div>
                                <div class="date-box mr-2 ml-2">
                                    <span class="fas fa-calendar-alt"></span>
                                    <span class="datetime-now">@item.UpdatedDate</span>
                                </div>
                            </div>

                        </a>


                    </div>
                </div>
                <br />
            }

        </div>
    </div>
</div>

<div class="row">
    <div class="col p-2">
        <a asp-action="Index" asp-controller="SportsNews" class="show-all-btn-sports d-flex align-items-baseline justify-content-end">
            <span class="fas fa-ellipsis-h m-1"></span>
            @Localizer["More"]
        </a>
    </div>
</div>


@* End sports section *@

@* Start Studie section *@
<br />
<div class="row">
    <div class="col">
        <div class="top-title-line">
            <h5 class="d-none d-md-block">@Localizer["Studies"]</h5>
            <span class="d-md-none">@Localizer["Studies"]</span>
        </div>
        <div class="top-box-hot-line"></div>
    </div>
</div>
<br />


<div class="row">

            @if (Model.GetLast4Studies != null)
            {

                <div class="col">
                    <div class="Studies-Carusel owl-carousel owl-theme p-0">


                        @foreach (var item in Model.GetLast4Studies)
                        {

                            <div class="item p-2">


                                <div class="studies-box">
                                    <div class="image-relativ">

                                        @if (item.Image != null || item.ImageCoverPath != null)
                                        {
                                            @if (item.Image != null)
                                            {
                                                <img src="@item.Image" alt="Alternate Text" />
                                            }
                                            @if (item.ImageCoverPath != null)
                                            {
                                                <img src="@ViewBag.AdminURL/Upload/Studies/Images/@item.ImageCoverPath" alt="Alternate Text" />
                                            }
                                        }
                                        else
                                        {
                                            <img src="/img/Book.png" />
                                        }


                                    <div class="overlay d-flex flex-column align-items-center justify-content-center">

                                        <button class="dl-link" data-toggle="modal" data-target="#exampleModalCenter_@item.Id">@Localizer["View"] <span class=" fas fa-eye mr-1"></span></button>
                                        <br />
                                        @if (item.DownloadLink != null)
                                        {
                                            <a class="dl-link" href="@ViewBag.AdminURL/Upload/Studies/Downloads/@item.DownloadLink">@Localizer["Download"] <span class=" fas fa-download mr-1"></span></a>
                                            <br />
                                        }

                                        <div class="dropdown" id="share">
                                            <button class="dl-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                @Localizer["Share"] <span class=" fas fa-share-alt mr-1 ml-1"></span>
                                            </button>
                                            <div class="dropdown-menu share-colaps-book dropdown-menu-center" aria-labelledby="dropdownMenuButton">
                                                <div class="d-flex">
                                                    <a href="whatsapp://send?text=@item.Title-@ViewBag.AdminURL/Upload/Studies/Downloads/@item.DownloadLink" data-action="share/whatsapp/share"><span class="fab fa-whatsapp text-success"></span></a>
                                                    <a href="https://telegram.me/share/url?url=@item.Title-@ViewBag.ShareURL/Library/Index/@item.Id"><span class="fab fa-telegram text-info"></span></a>
                                                    <a href="mailto:?=&subject=@item.Title&body=@ViewBag.ShareURL/Library/Index/@item.Id"><span class="fas fa-envelope text-secondary"></span></a>
                                                    <a href="https://www.facebook.com/sharer/sharer.php?u=@item.Title-@ViewBag.ShareURL/Library/Index/@item.Id"><span class="fab fa-facebook text-primary"></span></a>
                                                    <a href="https://twitter.com/intent/tweet?text=@item.Title-@ViewBag.ShareURL/Library/Index/@item.Id"><span class="fab fa-twitter text-info"></span></a>
                                                </div>
                                            </div>

                                        </div>




                                    </div>
                                    </div>

                                    <div class="studies-option d-flex justify-content-center">
                                        <img src="/img/BookLogo.png" alt="Alternate Text" />
                                    </div>
                                </div>


                            </div>


                        }




                    </div>

                </div>

                @foreach (var item in Model.GetLast4Studies)
                {
                    <div class="modal fade " id="exampleModalCenter_@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                            <div class="modal-content">


                                <div class="modal-header p-0">
                                    <button type="button" class="close-windows-modal" data-dismiss="modal" aria-label="Close"><span class="fas fa-times"></span></button>

                                    <div class="img-header-object d-flex align-items-center">


                                        @if (item.Image != null)
                                        {
                                            <img src="@item.Image" alt="Alternate Text" />
                                        }
                                        @if (item.ImageCoverPath != null)
                                        {
                                            <img src="@ViewBag.AdminURL/Upload/Studies/Images/@item.ImageCoverPath" alt="Alternate Text" />
                                        }

                                        <p>@item.Title</p>

                                    </div>


                                </div>
                                <div class="modal-body studies-body-modal">
                                    <div class="paper-desc-box">
                                        <pre>
                                         @item.Description
                                    </pre>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                }
            }


        </div>


<div class="row">
    <div class="col p-2">
        <a asp-action="Index" asp-controller="Library" class="show-all-btn-photo d-flex align-items-baseline justify-content-end">
            <span class="fas fa-ellipsis-h m-1"></span>
            @Localizer["More"]
        </a>
    </div>
</div>

@* End Studies section *@

@* Start object section *@

<br />
<div class="row">
    <div class="col">
        <div class="top-title-line">
            <h5 class="d-none d-md-block">@Localizer["Paper"]</h5>
            <span class="d-md-none">@Localizer["Paper"]</span>
        </div>
        <div class="top-box-hot-line"></div>
    </div>
</div>
<br />

<div class="row">
    <div class="col paper-bg">
        <div class="row">
            @if (Model.Last4Papers != null)
            {
                <div class="col">
                    <div class="Paper-Carusel owl-carousel owl-theme p-0">
                        @foreach (var item in Model.Last4Papers)
                        {

                            <div class="item p-2">
                                <br />
                                <div class="box-paper d-flex flex-column align-items-center justify-content-start" data-toggle="modal" data-target="#paper_@item.Id">
                                    <img class="pin" src="/img/paper-back.png" alt="Alternate Text" />
                                    <br />
                                    <br />
                                    @if (item.Image != null || item.ImageCoverPath != null)
                                    {
                                        @if (item.Image != null)
                                        {
                                            <img class="paper-pic" src="@item.Image" alt="Alternate Text" />
                                        }
                                        @if (item.ImageCoverPath != null)
                                        {
                                            <img class="paper-pic" src="@ViewBag.AdminURL/Upload/Papers/Images/@item.ImageCoverPath" alt="Alternate Text" />
                                        }

                                    }
                                    else
                                    {
                                        <img class="paper-pic" src="/img/paper-one.png" alt="Alternate Text" />
                                    }
                                    <br />
                                    <p class="paper-title">@item.Title</p>
                                    <span class="fas fa-ellipsis-h"></span>
                                </div>
                            </div>

                        }
                    </div>


                </div>

                @foreach (var item in Model.Last4Papers)
                {
                    <div class="modal fade " id="paper_@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                            <div class="modal-content">


                                <div class="modal-header">

                                    <button type="button" class="close-windows-modal" data-dismiss="modal" aria-label="Close"><span class="fas fa-times"></span></button>
                                    <div class="img-header-object d-flex align-items-center">


                                        @if (item.Image != null)
                                        {
                                            <img style="height:50px !important" src="@item.Image" alt="Alternate Text" />
                                        }
                                        @if (item.ImageCoverPath != null)
                                        {
                                            <img style="height:50px !important" src="@ViewBag.AdminURL/Upload/Papers/Images/@item.ImageCoverPath" alt="Alternate Text" />
                                        }

                                        <p>@item.Title</p>

                                    </div>
                                </div>
                                <div class="modal-body studies-body-modal">

                                    <div class="paper-desc-box">
                                            <pre>
                                             @item.Description
                                            </pre>
                                    </div>
                                </div>

                                <div class="modal-footer d-flex justify-content-center">

                                    @if (item.Download !=null)
                                    {
                                        <a href="@ViewBag.AdminURL/Upload/Papers/Downloads/@item.Download" class="dl-link">@Localizer["Download"] <span class=" fas fa-download mr-1"></span></a>
                                    }


                                    <button class="dl-link" data-toggle="collapse" href="#share" role="button" aria-expanded="false" aria-controls="share">@Localizer["Share"] <span class=" fas fa-share-alt mr-1"></span></button>
                                    <div class="collapse share-colaps-modal" id="share">
                                        <div class="card card-body d-flex">
                                            <div class="d-flex">
                                                <a href="whatsapp://send?text=@item.Title-@ViewBag.ShareURL/Paper/Index/@item.Id" data-action="share/whatsapp/share" class="fab fa-whatsapp text-success"></a>
                                                <a href="https://telegram.me/share/url?url=@item.Title-@ViewBag.ShareURL/Paper/Index/@item.Id" class="fab fa-telegram text-info"></a>
                                                <a href="mailto:?=&subject=@item.Title&body=@ViewBag.ShareURL/Paper/Index/@item.Id" class="fas fa-envelope text-secondary"></a>
                                                <a href="https://www.facebook.com/sharer/sharer.php?u=@item.Title-@ViewBag.ShareURL/Paper/Index/@item.Id" class="fab fa-facebook text-primary"></a>
                                                <a href="https://twitter.com/intent/tweet?text=@item.Title-@ViewBag.ShareURL/Paper/Index/@item.Id" class="fab fa-twitter text-info"></a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                }

            }


        </div>
    </div>
</div>




<div class="row">
    <div class="col p-2">
        <a asp-action="Index" asp-controller="Paper" class="show-all-btn-photo d-flex align-items-baseline justify-content-end">
            <span class="fas fa-ellipsis-h m-1"></span>
            @Localizer["More"]
        </a>
    </div>
</div>

@* End object section *@
@* Start company section *@

<br />
<div class="row">
    <div class="col">
        <div class="top-title-line">
            <h5 class="d-none d-md-block">@Localizer["Organisations"]</h5>
            <span class="d-md-none">@Localizer["Organisations"]</span>
        </div>
        <div class="top-box-hot-line"></div>
    </div>
</div>
<br />
<div class="row">


    @if (Model.Last4Company != null)
    {
        var i = 0;
        @foreach (var item in Model.Last4Company)
        {
            ++i;


            <div class="col-6 col-md-3 p-1">
                <a class="analyz-box d-flex flex-column align-items-center justify-content-center" data-toggle="modal" data-target="#company_@i">
                    <div class="analyz-img">
                        @if (item.Image != null || item.ImageCoverPath != null)
                        {
                            @if (item.Image != null)
                            {
                                <img src="@item.Image" alt="Alternate Text" />
                            }
                            @if (item.ImageCoverPath != null)
                            {
                                <img src="@ViewBag.AdminURL/Upload/Organisation/@item.ImageCoverPath" alt="Alternate Text" />
                            }
                        }
                    </div>
                    <br />
                    <div class="analyz-info d-flex flex-wrap">
                        <span>@item.Title</span>
                    </div>

                    <h4 class="fas fa-ellipsis-h text-secondary"></h4>
                    <div class="analyz-box-blackover"></div>

                </a>
                <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true" id="company_@i">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close-windows-modal" data-dismiss="modal" aria-label="Close"><span class="fas fa-times"></span></button>

                            </div>
                            <div id="modl-company" class="modal-body">
                                @if (item.Image != null || item.ImageCoverPath != null)
                                {
                                    @if (item.Image != null)
                                    {
                                        <img src="@item.Image" alt="Alternate Text" />
                                    }
                                    @if (item.ImageCoverPath != null)
                                    {
                                        <img src="@ViewBag.AdminURL/Upload/Organisation/@item.ImageCoverPath" alt="Alternate Text" />
                                    }
                                }

                                <div class="info-company">
                                    <pre>
                                        @item.Information
                                    </pre>
                                </div>

                            </div>
                            <div class="modal-footer d-flex justify-content-center">

                                <button class="dl-link" data-toggle="collapse" href="#share" role="button" aria-expanded="false" aria-controls="share">@Localizer["Share"] <span class=" fas fa-share-alt mr-1"></span></button>
                                <div class="collapse share-colaps-modal" id="share">
                                    <div class="card card-body d-flex">
                                        <div class="d-flex">
                                            <a href="whatsapp://send?text=@item.Title-@ViewBag.ShareURL/Company/Index/@item.Id" data-action="share/whatsapp/share" class="fab fa-whatsapp text-success"></a>
                                            <a href="https://telegram.me/share/url?url=@item.Title-@ViewBag.ShareURL/Company/Index/@item.Id" class="fab fa-telegram text-info"></a>
                                            <a href="mailto:?=&subject=@item.Title&body=@ViewBag.ShareURL/Company/Index/@item.Id" class="fas fa-envelope text-secondary"></a>
                                            <a href="https://www.facebook.com/sharer/sharer.php?u=@item.Title-@ViewBag.ShareURL/Company/Index/@item.Id" class="fab fa-facebook text-primary"></a>
                                            <a href="https://twitter.com/intent/tweet?text=@item.Title-@ViewBag.ShareURL/Company/Index/@item.Id" class="fab fa-twitter text-info"></a>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>


        }
    }


</div>




<div class="row">
    <div class="col p-2">
        <a asp-action="Index" asp-controller="Company" class="show-all-btn-company d-flex align-items-baseline justify-content-end">
            <span class="fas fa-ellipsis-h m-1"></span>
            @Localizer["More"]
        </a>
    </div>
</div>

@* End company section *@

@* Start video section *@

<br />
<div class="row">
    <div class="col">
        <div class="top-title-line">
            <h5 class="d-none d-md-block">@Localizer["Videos"]</h5>
            <span class="d-md-none">@Localizer["Videos"]</span>
        </div>
        <div class="top-box-hot-line"></div>
    </div>
</div>
<br />
<div class="row ">

    <div class="col p-0">
        <div class="video-bg">
            <div class="row">
                <div class="col-12 col-md-6">
                    <a class="video-box" asp-action="VideoPart" asp-controller="Videos" asp-route-id="@Model?.GetLast8Videos.FirstOrDefault()?.Id">
                        <div class="videocard-body">
                            @if (Model?.GetLast8Videos.FirstOrDefault()?.VideoPlay != null || Model?.GetLast8Videos.FirstOrDefault()?.VideoCoverPath != null)
                            {
                                @if (Model?.GetLast8Videos.FirstOrDefault()?.VideoPlay != null)
                                {
                                    <img src="https://img.youtube.com/vi/@Model?.GetLast8Videos.FirstOrDefault().VideoPlay/mqdefault.jpg" alt="Alternate Text" />
                                }
                                @if (Model?.GetLast8Videos.FirstOrDefault()?.VideoCoverPath != null)
                                {
                                    <img src="@ViewBag.AdminURL/Upload/Videos/Img/@Model?.GetLast8Videos.FirstOrDefault()?.VideoImage" alt="Alternate Text" />
                                }
                            }
                            <div class="play-avatar"></div>
                        </div>

                        <div class="video-name d-flex align-items-center justify-content-center">
                            <span class="mr-1 ml-1">@Model?.GetLast8Videos.FirstOrDefault()?.Title</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 d-none d-md-block">

                    <div class="video-list-box">

                        @foreach (var list in Model.GetLast8Videos)
                        {
                            <a asp-action="VideoPart" asp-controller="Videos" asp-route-id="@list.Id">@list.Title</a>
                        }


                    </div>
                    <div class="video-list-box-head">
                        <strong>@Localizer["Latest Videos"]</strong>
                    </div>
                </div>
            </div>

            <div class="video-carousel owl-carousel owl-theme p-0">

                @foreach (var item in Model.GetLast8Videos)
                {
                    <a asp-action="VideoPart" asp-controller="Videos" asp-route-id="@item.Id" class="item p-1">
                        <div class="videocard-body">
                            @if (item.VideoPlay != null || item.VideoCoverPath != null)
                            {
                                @if (item.VideoPlay != null)
                                {
                                    <img src="https://img.youtube.com/vi/@item.VideoPlay/mqdefault.jpg" alt="Alternate Text" />
                                }
                                @if (item.VideoCoverPath != null)
                                {
                                    <img src="@ViewBag.AdminURL/Upload/Videos/Img/@item.VideoImage" alt="Alternate Text" />
                                }
                            }
                            <div class="play-avatar"></div>
                        </div>

                        <div class="video-name d-flex align-items-center justify-content-center">
                            <span class="mr-1 ml-1">@item.Title</span>
                        </div>
                    </a>

                }

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col p-2">
        <a asp-action="Index" asp-controller="Videos" class="show-all-btn-video d-flex align-items-baseline justify-content-end">
            <span class="fas fa-ellipsis-h m-1"></span>
            @Localizer["More"]
        </a>
    </div>
</div>

@* End video section *@

@* start photo section *@

<br />
<div class="row">
    <div class="col">
        <div class="top-title-line">
            <h5 class="d-none d-md-block">@Localizer["Photos"]</h5>
            <span class="d-md-none">@Localizer["Photos"]</span>
        </div>
        <div class="top-box-hot-line"></div>
    </div>
</div>
<br />

<div class="row">


    <div class="col-12 col-md-6 p-1">
        <a asp-action="PhotoView" asp-controller="Photos" asp-route-id="@Model.TopPhoto.LastOrDefault()?.Id">
            <div class="image-space">
                @if (Model.TopPhoto.LastOrDefault()?.Image != null || Model.TopPhoto.LastOrDefault()?.ImageCoverPath != null)
                {
                    @if (Model.TopPhoto.LastOrDefault()?.ImageCoverPath != null)
                    {
                        <img src="@ViewBag.AdminURL/Upload/Photos/@Model.TopPhoto.LastOrDefault()?.ImageCoverPath" alt="Avatar" class="image" style=" max-height: 315px;">
                    }
                    @if (Model.TopPhoto.LastOrDefault()?.Image != null)
                    {
                        <img src="@Model.TopPhoto.LastOrDefault()?.Image" alt="Avatar" class="image" style=" max-height: 315px;">
                    }
                }
                <div class="overlay-image">
                    <h5>
                        @Model.TopPhoto.LastOrDefault().Title
                    </h5>

                </div>
            </div>
        </a>

    </div>


    <div class="col-12 col-md-6">
        <div class="row">

            @foreach (var item in Model.Top4Photo)
            {
                <div class="col-6 col-md-6 p-1">
                    <a asp-action="PhotoView" asp-controller="Photos" asp-route-id="@item.Id">
                        <div class="image-space">
                            @if (item.Image != null || item.ImageCoverPath != null)
                            {
                                @if (item.Image != null)
                                {
                                    <img src="@item.Image" alt="Avatar" class="image" style="height:150px">
                                }
                                @if (item.ImageCoverPath != null)
                                {
                                    <img src="@ViewBag.AdminURL/Upload/Photos/@item.ImageCoverPath" alt="Avatar" class="image" style="height:150px">
                                }
                            }
                            <div class="overlay-image">
                                <h4 class="title-image fas fa-image"></h4>
                            </div>
                        </div>
                    </a>

                </div>

            }

        </div>

    </div>


</div>

<div class="row">
    <div class="col p-2">
        <a asp-action="Index" asp-controller="Photos" class="show-all-btn-photo d-flex align-items-baseline justify-content-end">
            <span class="fas fa-ellipsis-h m-1"></span>
            @Localizer["More"]
        </a>
    </div>
</div>

<br />
@* End photo section *@
