@page
@model AllNewsCms.Web.Pages.SocialManagment.CreateModel
@{
    ViewData["Title"] = "Create";
}
    <br />
    <div class="row">
        <div class="col-12 col-md-8 m-auto">
            <div class="p-2">
                <form method="post">
                    <input type="hidden" asp-for="@Model.socialManagment.Id" />
                    <table id="table-social" style="width:100%">
                        <tr class="p-2">
                            <th class="bg-secondary text-white p-1" style="width:75%">SocialMedia</th>
                            <th class="bg-secondary text-white" style="width:20%">UserName</th>


                        </tr>


                        <tr>
                            <td><span class="fab fa-youtube text-danger mr-2 ml-2"></span>Youtube</td>
                            <td><input asp-for="@Model.socialManagment.YoutubeIdName" type="text" /></td>

                        </tr>
                        <tr>
                            <td><span class="fab fa-telegram text-info mr-2 ml-2"></span>Telegram</td>
                            <td><input asp-for="@Model.socialManagment.TelegramIdName" type="text" /></td>

                        </tr>
                        <tr>
                            <td><span class="fab fa-instagram text-danger mr-2 ml-2"></span>Instagram</td>
                            <td><input asp-for="@Model.socialManagment.InstagramIdName" type="text" /></td>

                        </tr>
                        <tr>
                            <td><span class="fab fa-twitter text-info mr-2 ml-2"></span>Twitter</td>
                            <td><input asp-for="@Model.socialManagment.TwitterIdName" type="text" /></td>

                        </tr>
                        <tr>
                            <td><span class="fab fa-facebook text-primary mr-2 ml-2"></span>Facebook</td>
                            <td><input asp-for="@Model.socialManagment.FacebookIdName" type="text" /></td>

                        </tr>

                        <tr>
                            <td style="width:40%"><h5>Set Your Email Address</h5></td>
                            <td style="width:60%"><input asp-for="@Model.socialManagment.AddressEmail" type="text" /></td>
                        </tr>


                    </table>
                    <hr />
                    <div class="col-12 col-md-1 p-0">
                        <button type="submit" class="btn btn-success w-100 fas fa-check"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    

